html, body {
    height: 100%;
    margin: 0;
}

@keyframes fadein {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}

@keyframes fadein-delay {
    0% {opacity: 0; transform: translateY(20px); }
    50% {opacity: 0; transform: translateY(20px); }
    100% {opacity: 1; transform: translateY(0); }
}

@keyframes typing {
    from { width: 0 }
}

.fadeIn { overflow: hidden; animation: fadein 1s; }
.fadeType { overflow: hidden; white-space: nowrap; animation: fadein 1s, typing 2s steps(50); }
.typeAnim { overflow: hidden; white-space: nowrap; animation: typing 2s steps(50); }

.titleIcon {
    display: flex;
    background: url(UI/images/AAAIC.svg) 0 0 no-repeat;
    content: "";
    background-size: 38px;
    padding: 0 15px 0 42px;
    position: relative;
    top: 20px;
    left: 15px;
}

.sideBar {
    flex-grow: 1;
    width: 315px;
    height: 100%;
    background-color: rgb(0, 4, 12);
    display: flex;
    flex-wrap: nowrap;
    flex: 0 1 auto;
    flex-direction: column;
}

#sidebarHeader { font-size: 32px; margin: 5; font-weight: 800; padding-bottom: 67px; }
#sidebarButtons { display: inline-block; padding: 2.5%; width: 95%; justify-items: top; }

.sidebarButton {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    justify-content: center;
    font-family: 'Stack Sans Headline', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: white;
    cursor: pointer;
    vertical-align: middle;
    padding: 3%;
}

#side1 { animation: fadein-delay 0.5s; }
#side2 { animation: fadein-delay 0.8s; }
#side3 { animation: fadein-delay 1.1s; }
#side4 { animation: fadein-delay 1.4s; }
#side5 { animation: fadein-delay 1.7s; }

.btnBack:hover { background-color: rgb(23, 38, 66); }

.sidebarIcon {
    padding: 5%;
    justify-self: center;
    vertical-align: middle;
}

.mainPage { flex: 1; height: 100%; display: flex; background-color: rgb(67, 64, 77); flex-direction: column; overflow: hidden; overflow-y: scroll; }

.gptHeader { margin: 200px auto 0px auto; display: flex; flex-direction: column; flex-wrap: wrap; align-items: center; }
.gptHeaderText { animation: fadein-delay 1.2s; font-size: 25px; font-weight: 600; padding-bottom: 67px; }
.gptHeaderIcon { animation: fadein-delay 1s; padding-bottom: 30px; }
.gptFakeSearch {
    flex-direction: column;
    margin: 0px auto auto auto;
    animation: fadein-delay 1.4s; 
    width: 100vh;
    height: max-content;
    padding: 8px 15px;
    border: 2px solid #cccccc54;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}
#searchIcon { padding-top: 10px; padding-bottom: 10px; padding-right: 10px; color: lightgray; }
#searchText { padding-bottom: 31px; color: lightgray; animation: fadein 0.4s; }

.gptFakeMessager {
    display: flex;
    flex: 1;
    animation: fadein-delay 1.4s;
    position: fixed;
    bottom: 0;
    margin-bottom: 4.5vh;
    left: 350px;
    width: 70%;
    height: max-content;
    padding: 15px 15px;
    border: 2px solid #cccccc54;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    background-color: rgb(67, 64, 77);
}
#messagerIcon { padding-right: 10px; color: lightgray; }
#messagerText { color: lightgray; animation: fadein 0.4s; }

.creditsText { margin: 0px auto auto 0px; flex: 1; display: flex; flex-direction: column; flex-wrap: wrap; margin-bottom: 100px;}
.userAndIcon { display: inline-flex; align-items: center; }
.gptIcon { width: 40px; height: 40px; border-radius: 50% }
.gptName { font-weight: bold; margin-left: 10px; font-size: 18px; }
.gptText { font-weight: 300; margin-left: 50px; margin-right: 50px; margin-top: -10px; }
.messages {
    animation: fadein-delay 1.4s;
    display: flex;
    flex-direction: column;
    margin: 15px auto 15px 55px;
}

.gameOptions { margin: 0px auto auto 0px; flex: 1; display: flex; flex-direction: column; flex-wrap: wrap; margin-bottom: 100px;}
.slider-container { position: relative; width: 80%; margin-left: 50px; }
.slider { margin-left: 50px; width: 100%; }
#sliderVal {
    position: relative;
    top: -30px;
    left: 30px;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    transform: translateX(-50%);
    white-space: nowrap;
}
.booleanText { color: rgb(168, 168, 168); margin-left: 5px; }

.game { margin: 0px auto auto 0px; flex: 1; display: flex; flex-direction: column; flex-wrap: wrap; margin-bottom: 100px;}
.gameHeader { margin: 25px auto 20px 17px; display: flex; flex-direction: row; flex-wrap: wrap; align-items: left; }
.gameHeaderText { animation: fadein-delay 1.2s; font-size: 22px; margin-left: 10px; font-weight: 500; }
.gameHeaderIcon { animation: fadein-delay 1.2s; }

.bottomRowButtons {
    display: flex;
    flex-direction: row;
    flex: 1;
    animation: fadein-delay 1.4s;
    position: fixed;
    bottom: 0;
    margin-bottom: 4.5vh;
    left: 350px;
    gap: 50px;
    align-items: center;
}
.bottomRowButton {
    border: 2px solid #cccccc54;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    padding: 15px 15px;
    width: max-content;
    height: max-content;
    text-align: center;
    background-color: rgb(55, 53, 63);
    cursor: pointer;
}
.buttonIcon { margin-right: 10px; }
.bottomRowButton:hover { background-color: #cccccc54; }

.imsofuckingstressed {
    margin-left: 50px;
    width: 150px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}